$white: #fff !default;
$gray-100: #d2d2d2 !default;
$gray-200: #bcbcbc !default;
$gray-300: #aeaeae !default;
$gray-400: #8f8f8f !default;
$gray-500: #797979 !default;
$gray-600: #626262 !default;
$gray-700: #4c4c4c !default;
$gray-800: #353535 !default;
$gray-900: #1f1f1f !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #E29534 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $orange !default;
$secondary: $gray-900 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-300 !default;
$dark: $gray-900 !default;


$body-bg: $gray-900;
$body-color: $white;
$font-family-base: $font-family-poppins !default;

$navbar-padding-y: rem-calc(20);

$primary-gradient-first: #ffc834;
$primary-gradient-second: #e29534;
